{% include 'base.html' %}
{% include 'navigation.html' %}


   
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong">who we are and <br>what we do</h1>
            <p class="lead">this is the world's leading for<br>easy and quick</p>
        </div>
        <div class="col-md-6">
            <p>lorem ipsum dolor sit amet,consectetur adipiscing elit.null convallis egestas rhoncus.donec facilisis fermentum sem,ac viverra ante luctus vel.donec vel maris quam.</p>
            <p>lorem ipsum dolor sit amet,consectetur adipiscing elit.nulla convallis egestas rhoncus donec facilisis fermentum sem,ac viverra ante luctus vel.donec vel mauris quam.lorem ipsum dolor sit amet.nulla convallis egestas rhoncus</p>
        </div>
    <div class='row'>
        <div class="site-heading text-center">
            <h3>our team</h3>
            <p>lorm ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusomod tempor incididunt <br>ut labore et dolor magna aliqua and minim</p>
            <div class="border"></div>
        </div>

{% endblock %}
{% include 'footer.html' %}