{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}
<div class="container"style="margin: top 50px;">
      <h1 class="text-center">contact us</h1>
      <div class="row mt-5 text-center">
        <div class="col-lg-3">
          <h4><i class="fas fa-phone-square"> contact</i></h4>
        <p>+91 9999999999</p>
      </div>
      <div class="col-lg-3">
        <h4><i class=" fa fa-envelope"> send email </i></h4>
        <p><a href="mail to:abc@gmail.com">abc@gmail.com</a></p>
      </div>
      <div class="col-lg-3">
        <h4><i class=" far fa-address-card"> office address</i></h4>
        <p><a href="http://google.com/maps?q=hyderabad,beeramguda">hyderabad,beeramguda</a></p>

      </div>
      <div class="col-lg-3">
        <h4><i class="fas fa-clock"> office time</i></h4>
        <p>10am to 5pm</p>
    </div> 
  </div>
</div>
{% endblock content %}